<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Teste</title>
</head>
<body>
     {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list_unstyled">
                {% for message in messages %}
                    <li class="alert alert-sucess">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
     <nav class="site-header stick-top py-1">
         <a class="py-2 d-none d-md-inline-block"></a>
     </nav>
    <div class="container">
        <div class="page-header">
            <h1>Teste</h1>
        </div>
        {% block content %}{% endblock %}
        </div>
</body>
</html>